.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

BuildUtils/
**/.config

# Local History for Visual Studio Code
.history/

# various other files
*.nupkg
nuget.exe